:root {
    --global-color: #3563E9;
    --primary-color: #fff;
    --theme-color: #aac2df;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url("/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url("/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url("/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url("/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.bg-circles {
    background-color: #54A6FF;
    background-image: radial-gradient(circle at 20% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 10%, transparent 10.1%, transparent 20%, rgba(255, 255, 255, 0.1) 20.1%, rgba(255, 255, 255, 0.1) 30%, transparent 30.1%, transparent 40%, rgba(255, 255, 255, 0.1) 40.1%, rgba(255, 255, 255, 0.1) 50%, transparent 50.1%, transparent 60%, rgba(255, 255, 255, 0.1) 60.1%, rgba(255, 255, 255, 0.1) 70%, transparent 70.1%, transparent 80%, rgba(255, 255, 255, 0.1) 80.1%, rgba(255, 255, 255, 0.1) 90%, transparent 90.1%, transparent 100%);
    background-size: 150% 150%;
    background-position: -20% 50%;
}

.bg-chevrons {
    background-color: #3563E9;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%),
        linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.05) 75%),
        linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.05) 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}